<style>
.header-area .main-nav .logo {
  margin-top: 25px;
  flex-basis: 20%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.background-header .main-nav .logo {
  margin-top: 10px;
}
  
  .header-area .main-nav .logo {
    position: absolute;
    left: 30px;
    top: 0px;
  }
  
  .background-header .main-nav .logo {
    top: 0px;
  }

 .header-area .logo {
    margin-left: 0px;
 }
 
.s1-txt3 {
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: #ffffff;
  line-height: 1.4;
}

.l1-txt1 {
  font-family: Montserrat-Black;
  font-size: 50px;
  color: #ffffff;
  text-transform: uppercase;
}

.l1-txt2 {
  font-family: Montserrat-Light;
  font-size: 30px;
  color: #ffffff;
  line-height: 1.2;
}

.size1 {
  width: 100%;
  min-height: 100vh;
}

.size2 {
  width: 90px;
  height: 90px;
}

.size3 {
  min-width: 280px;
  max-width: 100%;
  min-height: 50px;
}

.size4 {
  width: 686px;
  max-width: 100%;
}

.size5 {
  width: 100%;
  height: 50px;
}

.bg-g1 {
  background: #7918f2;
  background: -webkit-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
  background: -o-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
  background: -moz-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
  background: linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
}
</style>
